* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background: rgb(229, 229, 255);
    width: 470px;
    height: 720px;
    border-radius: 20px;
    margin: 70px;
    color: black;
 }

 .task-container h1 {
    font-size: 24px;
    font-style: italic;
    
 }
 .header-section h1 {
    font-size: 36px;
 }
.header-section {
    width: auto;
    height: 150px;
    border-radius: 20px ;
    padding-top: 28px;
}

.navBar-container {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    background: whitesmoke;
    padding: 20px;
    border-radius: 16px 16px 0 0;
  

}

.navBar-container button {
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 255, 0.155);
    align-items: center;
    border: none;
    border-radius: 50px;
}

.task-section {
    width: auto;
    height: 500px;


}

.task-container {
    padding: 10px;
    height: 300px;
    width: auto;
    margin:  0 30px 0  30px;
    background: whitesmoke;
    padding: 20px;
    border-top: solid rgba(0, 0, 255, 0.046);
 


}
.task-list {
    margin-top: 36px;
    color: rgba(0, 0, 0, 0.726);
}
.circule,
.circule02 {
   
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
}

.circule {
    background: blue;
}

.circule02 {
    background: purple;
}


.task-list li {
    margin:  0 30px 0  30px;
    list-style-type: none;
    margin: 10px ;
    display: flex;
    align-items: center;
    justify-content: first baseline;
    padding-bottom: 16px;
    padding-top: 16px;
    border-bottom: solid rgba(197, 197, 255, 0.289);

    
}
.task-list label {
    font-size: 20px;
    margin-right: 170px;

}
.task-list input {
    color: purple;
    background: purple;
    font-size: 20px;
}


.add-Task {
    width: auto;
    height: 200px;
    margin:  0 30px 0  30px;

    border-radius: 0 0 16px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;

}

.add-Button {
    background: blue;
    color: whitesmoke;
    width: 65px;
    height: 65px;
    border-style: none;
    border-radius: 50px;
    align-items: center;
    font-size: 30px;
    
}

.createTask-section {
    width: auto;
    height: 500px;
    margin:  0 30px 0  30px;
    padding-top: 40px;
    border-radius: 0 0 16px 16px;
    justify-content: center;
}

.newTask-tittle {
    width: auto;
    background: whitesmoke;
    padding: 20px;
    border-radius: 16px 16px 0 0;
}

.newTask-tittle input{
    display: flex;
    flex-direction: column;
    border-style: none;
    border: none;
    width: 156px;
    height: 68px;
    font-size: 24px;
    background: whitesmoke;
    padding-left: 10px;

}

.createTask-container {

    background: whitesmoke;
    padding: 20px;
    border-radius: 0 0 16px 16px ;
    background: whitesmoke;
    color: rgba(0, 0, 132, 0.8);
    display: flex;
  
    flex-wrap: wrap;
    gap: 10px;
    
}


.createTask-container img {
    width: 20px;
    height: 20px;
  
}
.createTask-container input {
 width: 320px;
 border-style: none;
 background: whitesmoke;
 border-bottom: solid rgba(128, 128, 128, 0.077);
 padding-bottom: 10px;
 font-size: 16px;
 text-align: justify;
}

.inactive {
    display: none;
}

.icon-exit {
  
    background: none;
    border: none;
    width: 50px;
    height: 50px;
}
.createTask-btn {
    width: 100px;
    height: 48px;
    background: blue;
    color: white;
    border-radius: 16px;
    border-style: none;
    font-size: 16px;
    margin-top: 24px;
    align-items: center;
   

}